{% extends "layout.html" %}
{% block content %}
<div class="row p-4"></div>
<table class="table table-bordered table-sm">
    <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Player</th>
          <th scope="col">Piece color</th>
          <th scope="col">Result</th>
          <th scope="col">Moves</th>
          <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.player}}</td>
                <td>{{item.piece_color}}</td>
                <td>{{item.result}}</td>
                <td>{{item.moves}}</td>
                <td>
                    <form method="POST" action="{{ url_for('test') }}">
                        <input type="hidden" name="view" value="{{item.moves}}">
                        <input type="hidden" name="color" value="{{item.piece_color}}">
                        <input onclick="window.location.href = '/test';" type="submit" value="View" />
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}